# environment settings
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.pdm-python
.venv

# caches
.pytest_cache
.mypy_cache
__pycache__
.pdm-build
.ruff_cache

# builds
dist

# ide
.idea

# pyenv
.python-version