[tool.poetry]
name = "casbin-tortoise-adapter"
version = "1.2.1"
description = "Tortoise ORM adapter for AsyncCasbin"
authors = ["Elias Gabriel <me@eliasfgabriel.com>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/thearchitector/casbin-tortoise-adapter"
documentation = "https://github.com/thearchitector/casbin-tortoise-adapter#tortoise-orm-adapter-for-asynccasbin"
keywords = ["casbin", "asyncio", "access control", "Tortoise ORM", "authorization"]
include = ["CHANGELOG.md", "casbin_tortoise_adapter/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
asynccasbin = "^1.1.2"
tortoise-orm = [
    { extras = ["accel"], version = "^0.19.1", python = ">=3.7,<3.8" },
    { extras = ["accel"], version = "^0.20", python = ">=3.8" }
]

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
pytest-asyncio = "^0.15.1"
asyncpg = "^0.28.0"

[tool.pytest.ini_options]
addopts = "-ra -svv"
testpaths = ["tests"]

[tool.mypy]
ignore_missing_imports = true
warn_return_any = true
show_column_numbers = true
follow_imports = "silent"
warn_unreachable = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
