name: CI

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.7"
      - run: python3 -m pip install mypy
      - name: Check typing
        run: mypy --pretty .
      - name: Check formatting
        uses: psf/black@stable

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Adjust container
        run: sed -i 's/3.7/${{ matrix.python-version }}/' docker-compose.yaml
      - name: Run tests
        run: docker-compose run --rm test pytest -svv
