name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]
        experimental: [false]
        include:
          - python-version: "3.12"
            experimental: true

    services:
      postgres:
        image: postgres:alpine
        env:
          POSTGRES_PASSWORD: "password"
          POSTGRES_DB: "casbin_rule"
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v3
        with:
          python-version: ${{ matrix.python-version }}
          cache: true
      - name: Install dependencies
        run: pdm install -G :all --global -p . --no-lock
      - name: Run tests
        run: pytest
        env:
          POSTGRES_HOST: "localhost"
